<!-- Footer -->
<div class="text-gray-500 py-4">


	<div class="text-center md:flex md:justify-around leading-10">

		<div class ="flex justify-around md:justify-between">
			<!-- Liens Site-->
			<div class="flex flex-col md:px-10">

				<a href="{{ path('recipe_list') }}" class="hover:text-yellow-600">Recettes</a>

				<a href="{{ path('app_login') }}" class="hover:text-yellow-600">Se connecter</a>

				<a href="#" class="hover:text-yellow-600">Inscription</a>

			</div>


			<!--Liens Infos-->
			<div class="flex flex-col md:px-10">

				<a href="#" class="hover:text-yellow-600">Mentions légales</a>

				<a href="{{ path('contact') }}" class="hover:text-yellow-600">Contacts</a>

			</div>
		</div>

		<!-- Entreprise -->
		<div class="flex flex-col leading-7">

			<p>Webforce3</p>

			<p>105 Avenue de la République</p>

			<P> 59110 La Madeleine</p>

			<p>0 805 62 23 45</p>

		</div>

		<!--Socials Networks-->
		<div class="md:flex items-center py-2">

			<a href="https://www.instagram.com/webforce3/">
				<i class="fab fa-instagram fa-2x p-3 mx-2 border-2 rounded-md border-gray-500 hover:border-yellow-600 hover:text-yellow-600"></i>
			</a>

			<a href="https://www.facebook.com/webforce3/">
				<i class="fab fa-facebook fa-2x p-3 mx-2 border-2 rounded-md border-gray-500 hover:border-yellow-600 hover:text-yellow-600"></i>
			</a>

			<a href="https://www.linkedin.com/school/webforce3/?originalSubdomain=fr">
				<i class="fab fa-linkedin-in fa-2x p-3 mx-2 border-2 rounded-md border-gray-500 hover:border-yellow-600 hover:text-yellow-600"></i>
			</a>

			<a href="https://twitter.com/WebForce3">
				<i class="fab fa-twitter fa-2x p-3 mx-2 border-2 rounded-md border-gray-500 hover:border-yellow-600 hover:text-yellow-600"></i>
			</a>
		</div>
	</div>