<!-- Navbar -->
<nav
	class="bg-gray-700 text-yellow-500">

	<!-- Structure Navbar-->
	<div class="max-w-full mx-auto flex justify-between">

		<div
			class="flex items-center space-x-4">

			<!-- Logo -->
			<div class="p-4">

				<a href="#" class="flex"></a>
				<span class="text-4xl font-bold hover:text-white">M'Cooking</span>

			</div>

			<!-- Link Site -->
			<div class="hidden md:flex items-center space-x-2">

				<a href="#" class="py-4 px-3 hover:text-white">Accueil</a>

				<a href="#" class="py-4 px-3 hover:text-white">Recherches</a>

				<a href="#" class="py-4 px-3 hover:text-white">Contacts</a>

			</div>

		</div>

		<!-- Link Account & Registration -->
		<div class="hidden md:flex items-center space-x-1">

			<a href="#" class="py-2 px-3">Mon compte</a>

			<a href="#" class="py-2 px-3 bg-gray-800 hover:bg-gray-900 hover:text-yellow-600 transition duration-300 rounded">Inscription</a>

		</div>

		<!--Button Menu -->
		<div class="md:hidden flex items-center">
			<button class = "mobile-menu-button">
				<i class="fas fa-utensils fa-3x"></i>
			</button>
		</div>
	</div>

	<!-- Mobile Menu -->
	<div class="mobile-menu hidden">
		<a href="#" class="block py-2 px-4 text-sm hover:bg-gray-900">Accueil</a>

		<a href="#" class="block py-2 px-4 text-sm hover:bg-gray-900">Recherches</a>

		<a href="#" class="block py-2 px-4 text-sm hover:bg-gray-900">Contacts</a>

		<a href="#" class="block py-2 px-4 text-sm hover:bg-gray-900">Mon Compte</a>

		<a href="#" class="block py-2 px-4 text-sm hover:bg-gray-900">Inscription</a>
	</div>
</nav>
