@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    Pour ajouter ou customiser des classes TailwindCSS
    A faire dans "@layer components"
*/

@layer components {

    .btn-exemple {
        @apply bg-red-500 text-white p-4 rounded hover:bg-red-600 shadow-lg
    }

    /* ---------------- */
    /* Système des tags */
    /* ---------------- */

    .bootstrap-tagsinput {
        @apply w-full 
    }

    .tag {
        @apply bg-blue-500 text-white
    }

    .tt-menu {
        @apply absolute top-full left-0 z-50 w-auto bg-white border border-gray-300 px-5 py-3
    }

    .tt-dataset {
        @apply flex flex-col gap-4
    }

    .tt-suggestion {
        @apply flex flex-row w-full hover:bg-gray-700 hover:text-white rounded p-2 transition-colors
    }
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  