{% extends 'base.html.twig' %}

{% block title %}Recettes
{% endblock %}

{% block body %}


	<div class="flex">

		<div id="divList" class="z-50 scale-in-center hidden flex bg-gray-400 bg-opacity-50 justify-center fixed flex w-full h-full">
			<div id="listSquare" class="z-50 flex flex-col items-center justify-between border-dashed border-4 border-indigo-500 shadow-2xl h-3/4 w-1/3 text-center rounded bg-white">
				<h2 class="text-2xl"> Liste de course </h2>

				<ul id="liste">
				</ul>
				
				<div>
					<p class="text-white"> Text caché qui sert à placer correctement la liste parce que j'ai pas le temps <br> </p>
				</div>

				<button id="mail" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 w-1/3 mb-5 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"> Recevoir par mail </button>
			</div>

		</div>
		
		<div class="border-2 bg-gray-200 border-gray-400 rounded shadow-lg rounded-lg w-3/12 p-6 m-4 text-center">
			<form method="get" id="searchBar" class="flex flex-col">
				<div class="flex flex-col items-center">
					<input placeholder=" Croque-monsieur, Carbonara ... " class="rounded h-10 w-3/4" type="searchBar" id="search" >
					<div class="flex flex-col items-center w-3/4">
						<ul id="resultList" class="w-full text-center">
						
						</ul>
					</div>
				</div>
			</form>
			<form class="flex flex-col" id="filtres">

				<h2 class="uppercase md:text-xl text-gray-600 font-bold my-6">saisons</h2>

				<div class="grid grid-cols-2 md:gap-2 items-center text-sm md:text-base">

						<label for="autumn">
							Automne
						</label>
						<input id="autumn" name="season[]" value="autumn" type="checkbox" class="m-6 md:m-4 check">

						<label for="winter">
							Hiver
						</label>
						<input id="winter" name="season[]" value="winter" type="checkbox" class=" m-6 md:m-4 check">

						<label for="spring">
							Printemps
						</label>
						<input id="spring" name="season[]" value="spring" type="checkbox" class="m-6 md:m-4 check">

						<label for="summer">
							Eté
						</label>
						<input id="summer" name="season[]" value="summer" type="checkbox" class="m-6 md:m-4 check">

				</div>

				<!-- Events -->

				<h2 class="uppercase text-l md:text-xl text-gray-600 font-bold my-6">célébrations</h2>

				<div class="grid grid-cols-2 md:gap-2 items-center text-sm md:text-base">

					<label for="christmas">
						Fin d'année
					</label>
					<input id="christmas" name="event[]" value="christmas" type="checkbox" class="m-6 md:m-4 check">

					<label for="easter">
						Pâques
					</label>
					<input id="easter" name="event[]" value="easter" type="checkbox" class="m-6 md:m-4 check">

					<label for="halloween">
						Halloween
					</label>
					<input id="halloween" name="event[]" value="halloween" type="checkbox" class="m-6 md:m-4 check">

					<label for="bday">
						Anniversaire
					</label>
					<input id="bday" name="event[]" value="bday" type="checkbox" class="m-6 md:m-4 check">

					<label for="valentineday">
						Saint-Valentin
					</label>
					<input id="valentineday" name="event[]" value="valentineday" type="checkbox" class="m-6 md:m-4 check">
				</div>

				<!-- Cultures -->
				<input class="hidden" name="page" id="pageForm" value="0">

				<h2 class="uppercase text-l md:text-xl text-gray-600 font-bold my-6">pays</h2>
				<div class="grid grid-cols-2 gap-2 items-center text-sm md:text-base">

					<label for="african">
						Africain
					</label>
					<input id="african" name="culture[]" value="african" type="checkbox" class="m-6 md:m-4 check">

					<label for="american">
						Américain
					</label>
					<input id="american" name="culture[]" value="american" type="checkbox" class="m-6 md:m-4 check">

					<label for="asia">
						Asiatique
					</label>
					<input id="asia" name="culture[]" value="asia" type="checkbox" class="m-6 md:m-4 check">

					<label for="france">
						Français
					</label>
					<input id="france" name="culture[]" value="france" type="checkbox" class="m-6 md:m-4 check">

					<label for="italian">
						Italien
					</label>
					<input id="italian" name="culture[]" value="italian" type="checkbox" class="m-6 md:m-4 check">

					<label for="mexican">
						Mexicain
					</label>
					<input id="mexican" name="culture[]" value="mexican" type="checkbox" class="m-6 md:m-4 check">

				</div>

				<!-- Type -->

				<h2 class="uppercase text-l md:text-xl text-gray-600 font-bold my-6">Menu</h2>
				<div class="grid grid-cols-2 gap-2 items-center text-sm md:text-base">

					<label for="starter">
						Entrée
					</label>
					<input id="starter" name="type[]" value="starter" type="checkbox" class="m-6 md:m-4 check">

					<label for="dish">
						Plat
					</label>
					<input id="dish" name="type[]" value="dish" type="checkbox" class="m-6 md:m-4 check">

					<label for="dessert">
						Dessert
					</label>
					<input id="dessert" name="type[]" value="dessert" type="checkbox" class="m-6 md:m-4 check">

				</div>

			</form>
		</div>

			

		<div class="flex flex-col-reverse w-full">
			<div class="zone flex">
				<ul class="grid xl:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-2 max-w-8xl" id="product-list">

					{%for recipe in recipes %}

						<div id={{ recipe.id }} class="m-2 myDraggableElement object" draggable='true'>

							<li class="relative flex flex-col border-2 border-gray-400 rounded shadow-lg rounded-lg text-center h-full p-4 m-2 recipe">
								{{ recipe.name }}
								
								<button class="cross hidden"><i class="text-xl absolute -top-1 -right-1 text-red-600 fas fa-times-circle"></i></button>
								<a href="recipe/{{recipe.slug}}" >Voir</a>
							</li>

						</div>

					{% endfor %}
				</ul>
			</div>

			<div id="page" class="flex justify-around">
				<button class="hidden" type="button" id="prec"><i class="fas fa-arrow-left"></i> </button>

				<button class="hidden" type="button" id="next"><i class="fas fa-arrow-right"></i> </button>

			</div>

			<div class="sticky z-0 top-0 flex dropzone rounded-lg zone border-2 bg-gray-200 border-gray-400 rounded shadow-lg rounded-lg w-100 h-36 p-6 m-4" id="menu">

				<div class="z-0 text-center flex flex-col justify-center ">

					<h2 class="uppercase text-l md:text-xl text-gray-600 font-bold my-6">
						Votre Séléction
					</h2>

					<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" id="generate"> Créer liste </button>
				</div>

			</div>

		</div>
	</div>
			{% endblock %}