{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}

	<div class="max-w-full h-screen flex flex-col justify-center max-h-full mx-5 md:mx-7 md:px-6 divide-y divide-gray-400">

		<div class="py-4 flex flex-col">
			<!-- Team -->
			<h2 class="uppercase text-center text-xl leading-3 text-gray-600 font-bold my-6">equipe</h2>

			<div class="flex justify-around text-center gap-4">

				<div class="scale-in-center">
					<img src="{{ asset('assets_img/Unknowm.jpg') }}" alt="Thomas" class="rounded-full border border-gray-200 shadow-lg max-h-80 my-4">
					<h3  class="uppercase text-center text-l leading-3 text-yellow-600 font-bold">Thomas</h3>
					<p>Memre de l'équipe</p>
				</div>

				<div class="scale-in-center">
					<img src="{{ asset('assets_img/Unknowm.jpg') }}" alt="Ulrick" class="rounded-full border border-gray-200 shadow-lg max-h-80 my-4">
					<h3  class="uppercase text-center text-l leading-3 text-yellow-600 font-bold">Ulrick</h3>
					<p>Membre de l'équipe</p>
				</div>

				<div class="scale-in-center">
					<img src="{{ asset('assets_img/Unknowm.jpg') }}" alt="Aline" class="rounded-full border border-gray-200 shadow-lg max-h-80 my-4">
					<h3  class="uppercase text-center text-l leading-3 text-yellow-600 font-bold">Aline</h3>
					<p>Membre de l'équipe</p>
				</div>

			</div>
		</div>

		<div class="py-4">
			<!-- Find us -->
			<h2 class="uppercase text-center text-xl leading-3 text-gray-600 font-bold my-6">nous trouver</h2>

			<div class="py-4 flex md:flex md:justify-between gap-8">

				<div class= "flex flex-col items-center">
					<i class="fas fa-phone-square-alt fa-3x"></i>
					<h3 class="text-center font-bold capitalize text-sm md:text-lg">Telephone</h3>
					<p class="text-center text-sm md:text-lg">0 805 62 23 45</p>
				</div>

				<div class= "flex flex-col items-center">
					<i class="fas fa-envelope fa-3x"></i>
					<h3 class="text-center font-bold capitalize text-sm md:text-lg">Adresse Mail</h3>
					<p class="text-center text-sm md:text-lg">privacy@wf3.fr</p>
				</div>

				<div class= "flex flex-col items-center">
					<i class="fab fa-instagram fa-3x"></i>
					<h3 class="text-center font-bold capitalize text-sm md:text-lg">Instagram</h3>
					<p class="text-center text-sm md:text-lg">webforce3</p>
				</div>

				<div class= "flex flex-col items-center">
					<i class="fab fa-facebook fa-3x"></i>
					<h3 class="text-center font-bold capitalize text-sm md:text-lg">Facebook</h3>
					<p class="text-center text-sm md:text-lg">webforce3</p>
				</div>

				<div class= "flex flex-col items-center">
					<i class="fab fa-linkedin-in fa-3x"></i>
					<h3 class="text-center font-bold capitalize text-sm md:text-lg">Linkedin</h3>
					<p class="text-center text-sm md:text-lg">WebForce3</p>
				</div>

				<div class= "flex flex-col items-center">
					<i class="fab fa-twitter fa-3x"></i>
					<h3 class="text-center font-bold capitalize text-sm md:text-lg">Twitter</h3>
					<p class="text-center text-sm md:text-lg">WebForce3</p>
				</div>

			</div>
		</div>

	</div>

{% endblock %}
