

{% block body %}

    <table style="background-repeat: no-repeat;" background="https://i.ibb.co/KsNsjVp/fruitsBG.png" width="100%" height="300px">

        <tr>
            <td>
                <h1 style="text-align: center; font-size: 4rem;> Votre liste de course </h1>

                <div style="  ">
                <ul>
                {%for ingredient in ingredients %}

                    <li>{{ingredient}}</li>

                {% endfor %}
                </ul>
            </td>
        </tr>

    </table>


    

{% endblock %}
</div>